{% extends 'default_front_end/base.html.twig' %}

{% block title %}Hello DefaultFrontEndController!{% endblock %}

{% block destockage %}
<div class="container">
    <div class="row">
        <div class="col-sm-3" >
            <a href="https://circlefishers.com"><img src="http://placehold.it/350x150" alt="logo-destockage">
            </a>
        </div>
        <div class="col-sm-3" >
            <a href="https://circlefishers.com">
                <img src="http://placehold.it/350x150" alt="logo-destockage">
            </a>
        </div>
        <div class="col-sm-3">
            <a href="https://circlefishers.com">
                <img src="http://placehold.it/350x150" alt="logo-circle-fisher">
            </a>
        </div>
    </div>

</div>


{% endblock %}
