{% extends 'default_front_end/base.html.twig' %}

{% block title %}Hello DefaultFrontEndController!{% endblock %}

{% block tousAnnonces %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a href="https://circlefishers.com">
                    <img src="http://placehold.it/200x100" alt="logo-destockage">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://circlefishers.com">
                    <img src="http://placehold.it/200x100" alt="logo-destockage">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://circlefishers.com">
                    <img src="http://placehold.it/200x100" alt="logo-destockage">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="https://circlefishers.com">
                    <img src="http://placehold.it/200x100" alt="logo-destockage">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://circlefishers.com">
                    <img src="http://placehold.it/200x100" alt="logo-destockage">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://circlefishers.com">
                    <img src="http://placehold.it/200x100" alt="logo-destockage">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="https://circlefishers.com">

                    <img src="http://placehold.it/200x100" alt="logo-destockage">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://circlefishers.com">
                    <img src="http://placehold.it/200x100" alt="logo-destockage">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://circlefishers.com">
                    <img src="http://placehold.it/200x100" alt="logo-destockage">
                </a>
            </div>
        </div>

    </div>

  <div class="container bottom-page">
      <div class="row">
          <div class="col-sm-3">
                  <button class="btn btn-primary" type="submit">Voir toutes les annonces</button>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <img src="https://via.placeholder.com/300x250" alt="logo-destockage">
          </div>
          <div class="col">
              <img src="https://via.placeholder.com/300x250" alt="logo-destockage">
          </div>
          <div class="col">
              <img src="https://via.placeholder.com/300x250" alt="logo-destockage">
          </div>
      </div>
  </div>

{% endblock %}
